@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-color: #444;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container {
  width: 50rem;
  /* text-align: center; */

  background-color: #fafafa;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.form {
  text-align: center;
  padding-top: 3.2rem;
  font-family: inherit;
}

.form-control {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  padding: 1.2rem;
  border-radius: 7.4rem;
  border: none;
  color: #3d3d3d;
}
.form-control::placeholder {
  color: #3d3d3d;
}
.form-control:focus {
  /* border: none; */
  outline: none;
}

.btn {
  font-size: 1.6rem;
  padding: 1rem 2.4rem;
  background-color: #b9185b;
  color: #fff;
  border-radius: 7rem;
  border: none;
  cursor: pointer;
}

.heading {
  text-align: center;
  padding: 7rem 0;
  font-size: 4.8rem;
  color: #b9185b;
}

.list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.list-text {
  font-size: 1.6rem;
  color: #3d3d3d;
}

.list-btn {
  width: 2.4rem;
  height: 2.4rem;
  /* background-color: red; */
  border: none;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  color: #b9185b;
  background-color: #fafafa;
}

.list-btn:hover {
  background-color: #fff;
  color: red;
}

.line-through {
  text-decoration: line-through;
}
